/Users/elisa/Documents/Progetti/rapids/DATA/*
/Users/elisa/Documents/Progetti/rapids/DATA/*
/Users/elisa/Documents/Progetti/rapids/DATA/*
/Users/elisa/Documents/Progetti/rapids/topo_tools/Friuli.cub
/Users/elisa/Documents/Progetti/rapids/topo_tools/topo_tools/Friuli.utm
/Users/elisa/Documents/Progetti/rapids/topo_tools/Friuli.xyz
/Users/elisa/Documents/Progetti/rapids/topo_tools/gmt.history
/Users/elisa/Documents/Progetti/rapids/topo_tools/history*
/Users/elisa/Documents/Progetti/rapids/topo_tools/ptopo.mean.utm
/Users/elisa/Documents/Progetti/rapids/topo_tools/ptopo.mean.xyz
/Users/elisa/Documents/Progetti/rapids/topo_tools/topo.cub
/Users/elisa/Documents/Progetti/rapids/topo_tools/ISTRUZIONI_da_SPECFEM3D/*
.DS_Store
