/DATA/ESM/*
/DATA/GF/*
/DATA/MESH/*
/DATA/topo/*
.DS_Store
__pycache__/*
history*
/DATA/VelModel/GeoInquire/
/DATA/VelModel/gndt.por
/gmt.history
create_input_hisada.py
create_input_hisada_files.py
plot_last.py
plot_new.py
plot_orig.py
read_topo.py_orig
token.txt
